html {
  background-color: #224430;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.logo img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45vh;
  display: block;
}

.oval1 {
  margin-top: -60vh;
  height: 80vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  animation-name: flip;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.oval2 {
  margin-top: -35vh;
  height: 80vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  animation-name: flip;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.oval3 {
  margin-top: -35vh;
  height: 55vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  animation-name: flip;
  animation-duration: 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.intro {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  animation: intro .8s forwards;
  animation-delay: 2s;
  position: absolute;
  margin-top: -37vh;
  padding: 30px;
  line-height: 25px;
}

button {
  background: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #788f82;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20vh;
  opacity: 0;
  animation: intro .8s forwards;
  animation-delay: 2s;
  letter-spacing: 7px;
}

@keyframes intro {
  to {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

#logo {
  animation: logo .5s forwards;
  animation-delay: 2s;
}

@keyframes logo {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-280px);
  }
}

#zoom {
  animation: zoom 1s forwards;
  animation-delay: 2s;
}

@keyframes zoom {
  to {
    transform: scale(4);
    transition: transform .05s;
  }
}