* {
  box-sizing: border-box;
}

html, body {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.container {
  background-image: url('../images/map.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  display: inline;
  z-index: 10;
  margin-right: 45vw;
  margin-bottom: 85vh;
  width: 35%;
  height: auto;
}

.container img {
  position: absolute;
  display: inline;
}

#one {
  position: absolute;
  z-index: 1;
  margin-left: 10%;
  margin-top: 13%;
  display: none;
}

#two {
  position: absolute;
  z-index: 1;
  margin-left: 15%;
  margin-top: -83%;
  display: none;
}

#three {
  margin-left: 55%;
  margin-top: -5%;
  position: absolute;
  z-index: 10;
  display: none;
}

#four {
  margin-left: 85%;
  margin-top: 15%;
  position: absolute;
  z-index: 10;
  display: none;
}

#five {
  margin-left: 90%;
  margin-top: -50%;
  position: absolute;
  z-index: 10;
  display: none;
}

.selectionbox {
  display: grid;
  text-align: center;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  z-index: 7;
  overflow: hidden;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  'filter hide-h1 hide-h1'
  'hikingimage . joggingimage'
  'hikingtext . joggingtxet'
  '. difficulty .'
  'easy medium hard';
}

.hide-h1 { grid-area: hide-h1; }
.fas fa-filter { grid-area: filter; }
.fas fa-hiking { grid-area: hikingimage; }
.hikingtext { grid-area: hikingtext; }
.fas fa-running { grid-area: joggingimage; }
.joggingtext { grid-area: joggingtext; }
.difficulty { grid-area: difficulty; }
.easy { grid-area: easy; }
.medium { grid-area: medium; }
.hard { grid-area: hard; }
.slide-up-btn { grid-area: slide-up-btn; }
.bottom-circle { grid-area: bottom-circle; }


.selectionbox i {
  color: white;
  font-size: 11vw;
  padding: 0;
  margin: 0;
}

.fas fa-hiking {
  width: 50%;
  height: auto;
  color: white;
}

.fas fa-running {
  margin-top: -47%;
  margin-left: 48%;
}

.slide-up-panel-container {
  height: 85%;
  width: 100%;
}

.slide-up-panel {
  z-index: 10;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(4, 49, 2);
  border-radius: 0 150px 0 0;
}

.slide-up-panel h1 {
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide-up-panel h2 {
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide-up-panel h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide-up-panel h4 {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
a { text-decoration: none; 
    margin-top: 95%;
    


}

.slide-up-btn {
  margin-top: 5vmin;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 4px;
  width: 20vw;
  background-color: whitesmoke;
  cursor: pointer;
}

.slide-up-anim {
  animation: slide-up-anim 0.5s ease-in-out forwards;
}

@keyframes slide-up-anim {
  0% {
    height: 18%;
  }
  50% {
    height: 13%;
  }
  100% {
    height: 75%;
  }
}

.slide-down-anim {
  animation: slide-down-anim 0.5s ease-in-out forwards;
}

@keyframes slide-down-anim {
  0% {
    height: 75%;
  }
  50% {
    height: 78%;
  }
  100% {
    height: 18%;
  }
}