* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  background-image: url('../images/map.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  display: inline;
  z-index: 10;
  margin-right: 45vw;
  margin-bottom: 85vh;
  width: 35%;
  height: auto;
}

.container img {
  position: absolute;
  display: inline;
}

#one {
  position: absolute;
  z-index: 1;
  margin-left: 10%;
  margin-top: 13%;
  display: none;
}

#two {
  position: absolute;
  z-index: 1;
  margin-left: 15%;
  margin-top: -83%;
  display: none;
}

#three {
  margin-left: 55%;
  margin-top: -5%;
  position: absolute;
  z-index: 10;
  display: none;
}

#four {
  margin-left: 85%;
  margin-top: 15%;
  position: absolute;
  z-index: 10;
  display: none;
}

#five {
  margin-left: 90%;
  margin-top: -50%;
  position: absolute;
  z-index: 10;
  display: none;
}

#hiking {
  margin-top: 50%;
  margin-left: 14%;
  width: 500%;
}

#running {
  margin-top: -47%;
  margin-left: 48%;
}

.slide-up-panel-container {
  position: relative;
  height: 85%;
  width: 100%;
  margin-bottom: -45%;
}

.slide-up-panel {
  z-index: 10;
  margin-right: 150px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(4, 49, 2);
  border-radius: 0 150px 0 0;
}

.slide-up-panel h1 {
  position: absolute;
  color: white;
  font-size: 18px;
  margin-top: 20%;
  margin-left: -5%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide-up-panel h2 {
  position: absolute;
  color: white;
  font-size: 18px;
  margin-top: 60%;
  margin-left: -50%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide-up-panel h3 {
  position: absolute;
  color: white;
  font-size: 20px;
  margin-top: 80%;
  margin-left: -14%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide-up-panel h4 {
  display: flex;
  color: white;
  display: inline;
  margin-right: 50px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
a { text-decoration: none; 
    margin-top: 95%;
    


}

#jogging {
  color: white;
  position: absolute;
  font-size: 18px;
  margin-top: 61%;
  margin-left: 18%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slide-up-btn {
  margin-top: 5vmin;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 4px;
  width: 20vw;
  background-color: whitesmoke;
  cursor: pointer;
}

#filter {
  margin-left: -65vw;
  margin-top: 15vh;
}

.slide-up-anim {
  animation: slide-up-anim 0.5s ease-in-out forwards;
}

@keyframes slide-up-anim {
  0% {
    height: 18%;
  }
  50% {
    height: 13%;
  }
  100% {
    height: 75%;
  }
}

.slide-down-anim {
  animation: slide-down-anim 0.5s ease-in-out forwards;
}

@keyframes slide-down-anim {
  0% {
    height: 75%;
  }
  50% {
    height: 78%;
  }
  100% {
    height: 18%;
  }
}