html {
    font-size: 12px;
    font-family: Arial;
    background-image: url(/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

#one {
    margin-left: 16%;
    margin-bottom: 110%;
}

#two {
    margin-left: 43%;
    margin-bottom: 85%;
}

#three {
    margin-bottom: 40%;
    margin-left: -67%;
}

#four {
    margin-bottom: 40%;
    margin-left: 43%;
}

#five {
    margin-bottom: 53%;
    margin-left: -16%;
}

/* .Aalborg-activities {
    display: grid;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */

/*  position: absolute;
    bottom: 10px;
    width: 100%; */

/* 
.search {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
}
 */

.logo {
    margin-left: 3%;
    margin-top: 5%;
}

.search {
    width: 360px;
    height: 15vh;
    background-color: #224430;
    position: absolute;
    bottom: 0px;
    margin-bottom: -12%;
    border-radius: 15px 50px 1px 5px;
}

.search h1 {
    color: white;
    font-size: 14px;
    margin-left: 2%;
    text-align: center;
    margin-top: -7%;
}

hr {
    width: 70px;
    margin-top: 4%;
}

.filter {
    margin-left: 9%;
    margin-top: 5%;
}